.terms-conditions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0 100px 0;
    background-color: var(--bg-color-6);
}

.terms-conditions-container .terms-conditions-content {
    width: 950px;
}

.terms-conditions-content h2 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 25px;
}

.terms-conditions-content h3 {
    margin-bottom: 5px;
}

.terms-conditions-content p {
    margin-bottom: 25px;
}

.terms-conditions-content .disclaimer {
    text-align: center;
    font-size: 18px;
    margin: 50px 0 0 0;
}

@media (max-width: 768px) {
    .terms-conditions-container .terms-conditions-content {
        width: 300px;
    }

    .terms-conditions-content h2 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 25px;
    }
}