/* Container Principal */
.main-container-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 175px 0 100px 0;
    background-color: var(--bg-color-1);
}

/* Container de Conteúdo */
.content-product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 950px;
}

/* Aba de Detalhes do Bracelete */
.bracelet-details {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: var(--bg-color-5);
}

/* Responsividade Mobile */
@media (max-width: 768px) {
    .main-container-product {
        width: 100vw;
        padding: 75px 0 0px 0;
    }

    .content-product {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}