.main-container-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 175px 0 100px 0;
    background-color: var(--bg-color-1);
}

.content-product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 950px;
}

.product-apresentation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
}

.main-image{
    width: 100%;
}

.bracelet-color{
    width: 100%;
}

/* Main Image */
.image-carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.image-carousel .bracelet-colors {
    display: none;
}

.bracelet-labels {
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
    margin-right: 5px;
}

.bracelet-labels::before {
    content: '';
    margin: 1px;
    position: absolute;
    width: 50px;
    height: 50px;
}

.bracelet-label-white::before {
    background-image: url('/TrackMate-react/imgs/bracelets/braceleteBranco.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bracelet-label-black::before {
    background-image: url('/TrackMate-react/imgs/bracelets/braceletePreto.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bracelet-label-blue::before {
    background-image: url('/TrackMate-react/imgs/bracelets/braceleteAzul.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bracelet-label-purple::before {
    background-image: url('/TrackMate-react/imgs/bracelets/braceleteRoxo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bracelet-label-turquoise::before {
    background-image: url('/TrackMate-react/imgs/bracelets/braceleteTurquesa.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bracelet-colors:hover + .bracelet-label-white,
.bracelet-colors:hover + .bracelet-label-black,
.bracelet-colors:hover + .bracelet-label-blue,
.bracelet-colors:hover + .bracelet-label-purple,
.bracelet-colors:hover + .bracelet-label-turquoise {
    transition: 0.5s;
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 3px;
}

.product-description-desktop, .product-description-mobile {
    margin-top: 25px;
}

.product-description-mobile {
    display: none;
}

.information-purchase-and-terms {
    width: 40%;
    background-color: var(--bg-color-1);
}

.information .name-sku-product {
    margin-bottom: 15px;
}

.information .name-sku-product h2 {
    font-size: 36px;
    font-weight: 400;
}

.amount-container h5, .bracelet-colors h5,  .name-sku-product h5 {
    font-size: 12px;
    font-weight: 400;
}

.bracelet-colors h5 .choosed-color {
    margin-left: 5px;
}

 .information .value {
    font-weight: 400;
    margin-bottom: 15px;
}

.information .bracelet-colors, .information .amount-container {
    margin-bottom: 15px;
}


/* Colors Buttons */
.choose-color {
    margin-top: 5px;
}
.choose-color .colors {
    display: none;
}

.labels {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
    margin-right: 5px;
}

.labels::before {
    content: '';
    margin: 2px 0 0 2px;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
}

.labels:hover {
    border: 1px solid white;
}

.label-white::before {
    background-color: white;
}

.label-black::before {
    background-color: black;
}

.label-blue::before {
    background-color: blue;
}

.label-purple::before {
    background-color: purple;
}

.label-turquoise::before {
    background-color: turquoise;
}

.colors:checked + .label-white,
.colors:checked + .label-black,
.colors:checked + .label-blue,
.colors:checked + .label-purple,
.colors:checked + .label-turquoise {
    border: 1px solid white;
}

.color-tooltip {
    position: relative;
    display: inline-block;
}

.color-tooltip .tooltip {
    visibility: hidden;
    position: absolute;
    top: -30px;
    left: 40%;
    transform: translateX(-50%);
    padding: 3px 8px;
    background-color: var(--bg-color-1);
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid var(--color-2);
}

.labels:hover + .tooltip {
    visibility: visible;
}


/* Box Amount */
.choose-amount {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.choose-amount .minus, .choose-amount .amount, .choose-amount .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: white;
    font-size: 16px;
    color: black;
    border: none;
}

.minus i, .plus i {
    color: rgb(100, 100, 100);
}

.minus-gray i {
    color: rgb(200, 200, 200);
}

/* Button */
.add-to-bag {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--bg-color-2);
    font-size: 15px;
    margin-top: 20px;
    transition: 0.3s;
}

.add-to-bag:hover {
    background-color: var(--bg-color-3);
    color: var(--color-3);

}


/* Terms */
.terms .question-container {
    border-bottom: solid 1px var(--color-2);
}

.terms .question-container .question-content h4 {
    font-size: 16px;
}

.terms .question-container .response {
    font-size: 14px;
}

@media (max-width: 768px) {
    .main-container-product {
        width: 100vw;
        padding: 75px 0 0px 0;
    }

    .content-product {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .product-apresentation {
        width: 100%;
    }

    .information-purchase-and-terms {
        width: 100%;
        margin-top: 25px;
    }

    .product-description-desktop {
        display: none;
    }

    .product-description-mobile {
        display: block;
    }
}