.main-container-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0 100px 0;
    background-color: var(--bg-color-1);
}

.content-product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 830px;
    background-color: red;
}

.product-apresentation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 350px;
    background-color: rebeccapurple;
}

.main-image{
    background-image: url('/TrackMate-react/imgs/folds/blackFold.png');
    background-size: cover;
    width: 350px;
    height: 350px;
}

.information-purchase-and-terms {
    width: 350px;
    background-color: var(--bg-color-1);
}

.information-purchase-and-terms .information .name-sku-product {
    margin-bottom: 15px;
}

.information-purchase-and-terms .information .name-sku-product h2 {
    font-size: 36px;
    font-weight: 400;
}

.information .amount h5, .information .bracelet-colors h5, .information .name-sku-product h5 {
    font-size: 12px;
    font-weight: 400;
}

.information-purchase-and-terms .information .value {
    font-weight: 400;
    margin-bottom: 15px;
}

.information .bracelet-colors, .information .amount {
    margin-bottom: 15px;
}


/* Colors Buttons */
.choose-color .colors {
    display: none;
}

.labels {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
    margin-right: 5px;
}

.labels::before {
    content: '';
    margin: 2px 0 0 2px;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
}

.labels:hover {
    border: 1px solid white;
}

.label-white::before {
    background-color: white;
}

.label-black::before {
    background-color: black;
}

.label-blue::before {
    background-color: blue;
}

.label-purple::before {
    background-color: purple;
}

.label-turquoise::before {
    background-color: turquoise;
}

.colors:checked + .label-white,
.colors:checked + .label-black,
.colors:checked + .label-blue,
.colors:checked + .label-purple,
.colors:checked + .label-turquoise {
    border: 1px solid white;
}