.bag-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 175px 0 100px 0;
    background-color: var(--bg-color-1);
}

.bag-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 950px;
}

.bag-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.bag-items h2, .order-summary h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.bag-items .item {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 20px 0;
    border-top: 1px solid var(--bg-color-11);
    border-bottom: 1px solid var(--bg-color-11);
}

.items .img-item {
    width: 100px;
    border: 1px solid var(--bg-color-11);
}

.info-item {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.info-item h3 {
    font-size: 16px;
    font-weight: 400;
}

.info-item .unit-value, .info-item .color {
    font-size: 13px;
    margin-top: 10px;
}

.items .choose-amount {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 75px;
    border: 1px solid var(--color-2);
}

.item .choose-amount .minus, .item .choose-amount .amount, .item .choose-amount .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: var(--bg-color-1);
    font-size: 12px;
    color: var(--color-2);
    border: none;
}

.item .choose-amount .minus i, .item .choose-amount .plus i {
    color: var(--color-2);
}

.item .choose-amount .minus-gray i {
    color: var(--color-6);
}

.items .total-value-item {
    margin: 0 50px;
}

.trash {
    cursor: pointer;
}

.bag-items .promotional-code, .bag-items .observations {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.promotional-code .label-promotional-code, .observations .label-observations {
    font-size: 14px;
    color: var(--color-3);
    cursor: pointer;
}

.promotional-code .input-button-promotional-code {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.input-button-promotional-code .input-promocional-code {
    margin-right: 10px;
    width: 225px;
    height: 45px;
    border: none;
    color: var(--color-1);
    caret-color: var(--color-1);
    padding-left: 10px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.input-button-promotional-code .input-promocional-code:focus {
    outline: none;
}

.input-button-promotional-code .enter-promocional-code {
    width: 100px;
    background-color: var(--bg-color-2);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.observations .label-observations {
    margin-bottom: 10px;
}

.observations .input-observations {
    width: 325px;
    height: 100px;
    background-color: var(--bg-color-1);
    border: 1px solid var(--bg-color-11);
    resize: none;
    padding: 10px;
    font-size: 16px;
}

.observations .input-observations:focus {
    outline: none;
}

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 300px;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--bg-color-11);
    padding: 20px 0 20px 0;
}

.subtotal h3 {
    font-size: 14px;
    font-weight: 400;
}

.subtotal .subtotal-value {
    font-size: 14px;
}

.order-summary .estimated-delivery {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bg-color-11);
    text-decoration: underline;
}

.total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}


.pay-button {
    font-size: 16px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: var(--bg-color-2);
    cursor: pointer;
}

.secure-checkout {
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.secure-checkout .fa-lock {
    margin-right: 5px;
}