.bag-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 175px 0 100px 0;
    background-color: var(--bg-color-1);
}


.bag-content, .empty-bag-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 950px;
    min-height: 400px;
}

.bag-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.bag-items .my-bag, .order-summary h2, .empty-bag-container .my-bag{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.bag-items .promotional-code, .bag-items .observations {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.promotional-code .label-promotional-code, .observations .label-observations {
    font-size: 14px;
    color: var(--color-3);
    cursor: pointer;
}

.promotional-code .input-button-promotional-code {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.input-button-promotional-code .input-promocional-code {
    margin-right: 10px;
    width: 225px;
    height: 45px;
    border: none;
    color: var(--color-1);
    caret-color: var(--color-1);
    padding-left: 10px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.input-button-promotional-code .input-promocional-code:focus {
    outline: none;
}

.input-button-promotional-code .enter-promocional-code {
    width: 100px;
    background-color: var(--bg-color-2);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.observations .label-observations {
    margin-bottom: 10px;
}

.observations .input-observations {
    width: 325px;
    height: 100px;
    background-color: var(--bg-color-1);
    border: 1px solid var(--bg-color-11);
    resize: none;
    padding: 10px;
    font-size: 16px;
}

.observations .input-observations:focus {
    outline: none;
}

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 300px;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--bg-color-11);
    padding: 20px 0 20px 0;
}

.subtotal h3 {
    font-size: 14px;
    font-weight: 400;
}

.subtotal .subtotal-value {
    font-size: 14px;
}

.order-summary .estimated-delivery {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bg-color-11);
    text-decoration: underline;
}

.total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}


.pay-button {
    font-size: 16px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: var(--bg-color-2);
    cursor: pointer;
}

.secure-checkout {
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.secure-checkout .fa-lock {
    margin-right: 5px;
}

.empty-bag-container {
    display: flex;
    flex-direction: column;
}

.empty-bag-container .my-bag {
    width: 100%;
}

.empty-bag-container .empty-bag-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--bg-color-11);
    border-bottom: 1px solid var(--bg-color-11);
    width: 100%;
    height: 400px;
}

.empty-bag-container .empty-bag-content .empty-bag-title {
    font-size: 20px;
    font-weight: 400;
}

.empty-bag-container .empty-bag-content .continue-browsing {
    font-size: 14px;
    text-decoration: underline;
}