/* Butão de Comprar */
.buy-button {
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--bg-color-2);
    color: var(--color-2);
    filter: drop-shadow(1px 1px 7px var(--bg-color-2));
    cursor: pointer;
}
.buy-button:hover {
    background-color: var(--bg-color-3);
    color: var(--color-3);
    filter: drop-shadow(1px 1px 8px var(--bg-color-3));
    transition: 0.5s ease;
}