/* Primeira Seção da Página */
/* TrackMade 0.4 XE */
.hero-section {
    display: flex;
    flex-direction: row;
    height: 110vh;
    background-image: url('/TrackMate-react/imgs/backgrounds/mainBg.avif');
    background-position: center;
    background-size: cover;
}

/* Container de Conteúdos*/
.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 75px 75px 0 75px;
}

/* Conteúdos da Seção*/
.product-presentation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.product-presentation .hero-text, .product-presentation .hero-secondary-title {
    font-size: 24px;
    font-weight: 500;
}

.product-presentation .hero-main-title {
    font-size: 80px;
    font-weight: 500;
}

/* Butão de Compra */
.product-presentation .buy-button {
    margin: 25px 0 0 0;
}

/* Imagem do Produto */
.product-image {
    width: 550px;
    height: 542px;
    transform: rotate(-10deg);
}


/* Responsividade Mobile */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        justify-content: start;
        padding: 110px 0 0 0;
    }

    .product-presentation {
        align-items: center;
        justify-content: center;
        margin-bottom: 105px;
    }

    .product-presentation .hero-text, .product-presentation .hero-secondary-title {
        text-align: center;
        font-size: 20px;
    }

    .product-presentation .hero-main-title {
        text-align: center;
        font-size: 38px;
        margin: 10px 0;
    }

    .product-presentation .buy-button {
        font-size: 20px;
    }

    .product-image {
        width: 350px;
        height: 345px;
        transform: rotate(0);
    }
}