/* Oferta */
.discount-offer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--bg-color-1);
    padding: 75px 0 75px 0;
}

/* Título da Oferta */
.discount-offer h2 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
    width: 800px;
    line-height: 1.3;
}

/* Email */
.discount-offer form label {
    margin-bottom: 15px;
    position: relative;
    right: 42.5%;
    font-size: 18px;
}

/* Formulário */
.discount-offer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Entrada Email */
.discount-offer form input {
    width: 862px;
    height: 75px;
    padding-left: 38px;
    border: 2px solid var(--bg-color-2);
    border-radius: 50px;
    filter: drop-shadow(1px 1px 10px var(--bg-color-2));
    font-size: 20px;
    color: var(--color-1);
    caret-color: var(--color-3);
}

.discount-offer form input:focus {
    outline: none;
}

.discount-offer form input::placeholder {
    color: var(--color-1);
}

/* Botão Subscribe */
.discount-offer form button {
    font-size: 18px;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 45px;
    color: var(--color-2);
    background-color: var(--bg-color-2);
    filter: drop-shadow(1px 1px 10px var(--bg-color-2));
    cursor: pointer;
    position: relative;
    bottom: 70px;
    left: 38%;
}

.discount-offer form button:hover {
    background-color: var(--bg-color-1);
    transition: 0.5s ease;
}


@media (max-width: 768px) {
    .discount-offer h2 {
        font-size: 26px;
        width: 300px;
    }

    .discount-offer form label {
        width: 300px;
        margin-bottom: 15px;
        position: relative;
        right: 0;
        left: 10px;
        font-size: 16px;
    }

    .discount-offer form input {
        width: 300px;
        height: 55px;
        font-size: 16px;
        padding-left: 20px;
    }

    .discount-offer form button {
        font-size: 16px;
        width: 150px;
        height: 50px;
        top: 15px;
        bottom: 0;
        left: 25%;
    }

    .discount-offer form button:hover {
        background-color: var(--bg-color-3);
        color: var(--color-3);
    }
}