/* Primeira Seção da Página */
/* TrackMade 0.4 XE */
.hero-section {
    display: flex;
    flex-direction: row;
    height: 110vh;
    background-image: url('/TrackMate-react/imgs/backgrounds/mainBg.avif');
    background-position: center;
    background-size: cover;
}

/* Container de Conteúdos*/
.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 75px 100px 0 100px;
}

/* Conteúdos da Seção*/
.product-presentation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.product-presentation .hero-text, .product-presentation .hero-secondary-title {
    font-size: 24px;
    font-weight: 500;
}

.product-presentation .hero-main-title {
    font-size: 80px;
    font-weight: 500;
}

/* Butão de Compra */
.product-presentation .buy-button {
    margin: 25px 0 0 0;
}

/* Imagem do Produto */
.hero-content .product-image {
    width: 550px;
    height: 542px;
    transform: rotate(-10deg);
    animation: upDown-a 5s ease-in-out infinite;
}

@keyframes upDown-a {
  0% { 
    transform: translateY(0);
    }
  50% { 
    transform: translateY(-50px);
    }
  100% { 
    transform: translateY(0);
    }
}


/* Responsividade Mobile */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0 0 0;
    }

    .product-presentation {
        align-items: center;
        justify-content: center;
        margin-bottom: 105px;
    }

    .product-presentation .hero-text, .product-presentation .hero-secondary-title {
        text-align: center;
        font-size: 20px;
        margin: 0 20px;
    }

    .product-presentation .hero-main-title {
        text-align: center;
        font-size: 36px;
        margin: 5px 0;
    }

    .product-presentation .buy-button {
        font-size: 18px;
    }

    .hero-content .product-image {
        width: 350px;
        height: 345px;
        animation: upDown-b 5s ease-in-out infinite;
    }

    @keyframes upDown-b {
    0% { 
        transform: translateY(0);
        }
    50% { 
        transform: translateY(-30px);
        }
    100% { 
        transform: translateY(0);
        }
}
}