/* Segunda Seção da Página */
/* Controle de Atividades */
.exercise-tracking-section {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 40px;
    height: 100vh;
    padding: 25px 0;
    background-color: var(--bg-color-1);
}


/* Primeira Coluna do Grid */
.exercise-tracking-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background:
        linear-gradient(var(--linear-gradient-1), var(--linear-gradient-1)),
        url('/TrackMate-react/imgs/backgrounds/female-athlete-before-run.avif');
    background-size: cover;
    background-position: center;
    margin-left: 260px;
}

/* Título do Conteúdo */
.exercise-tracking-content h2 {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
}

/* Icone do Título */
.exercise-tracking-content h2 i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 28px;
    background-color: var(--bg-color-1);
    background: var(--linear-gradient-2);
    border-radius: 100%;
    margin-right: 25px;
    transform: rotate(-43deg);
}

/* Subtítulo */
.exercise-tracking-content h3 {
    font-size: 56px;
    font-weight: 400;
    width: 575px;
    line-height: 1.3;
    margin: 30px 0;
}

/* Parágrafo */
.exercise-tracking-content p {
    font-size: 16px;
    font-weight: 400;
    width: 575px;
    line-height: 2;
}


/* Segunda Coluna do Grid */
.gradient-background-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url('/TrackMate-react/imgs/backgrounds/mainBg.avif');
    background-size: cover;
    background-attachment: fixed;
}

.gradient-background-product .smartphoneSmarwatch {
    width: 350px;
    height: 479px;
    position: absolute;
    right: 15%;
}


@media (max-width: 768px) {
    /* Segunda Seção da Página Responsiva */
    .exercise-tracking-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr;
        row-gap: 30px;
        padding: 0;
        height: 120vh;
    }

    /* Primeira Coluna do Grid */
    .exercise-tracking-content {
        margin-left: 0;
        background-position: 35%;
    }

    /* Título do Conteúdo */
    .exercise-tracking-content h2 {
        flex-direction: column;
        align-items: start;
        margin-left: 40px;
        font-size: 12px;
    }

    /* Icone do Título */
    .exercise-tracking-content h2 i {
        width: 45px;
        height: 45px;
        font-size: 20px;
        margin-bottom: 15px;
    }

    /* Subtítulo */
    .exercise-tracking-content h3 {
        font-size: 26px;
        width: 280px;
        line-height: 1.1;
        margin: 20px 0 20px 40px;
    }

    /* Parágrafo */
    .exercise-tracking-content p {
        width: 290px;
        line-height: 1.6;
        margin-left: 40px;
        font-size: 16px;
    }


    /* Segunda Coluna do Grid */
    .gradient-background-product {
        background: url('/TrackMate-react/imgs/backgrounds/mainBgMobile.avif');
        background-size: cover;
        align-items: center;
        justify-content: center;
    }

    .gradient-background-product .smartphoneSmarwatch {
        width: 300px;
        height: 410px;
        position: relative;
        right: 0;
    }
}